---
layout: default
title: home
group: "navigation"
---

<section class="row">
   <article class="col s12 m12 l8 offset-l2 ">
     {% for poste in paginator.posts %}
      <h4><a href="{{ poste.url | prepend: site.baseurl }}">{{ poste.title }}</a></h4>
      <p class="flow-text">{{ poste.excerpt }}</p>
      <p>posted {% if poste.author %} by {{poste.author}}{% endif %}{% if poste.date %} em {{poste.date | date: "%d/%m/%y"}} {% endif %}</p>
     {% endfor %}
     <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>         
      {% if paginator.total_pages > 1%}
        {% if paginator.next_page%}
        <a href="{{ paginator.next_page_path | prepend: site.url | replace: '//','/' }}" class="waves-effect waves-teal btn-flat right">Next</a>
        {% endif %}
        {% if paginator.previous_page%}
        <a href="{{ paginator.previous_page_path | prepend: site.url | replace: '//','/' }}" class="waves-effect waves-teal btn-flat">Previous</a>
        {% endif %}        
      {% endif %}
   </article>

</section>
