<nav class="meu-menu">
    <div class="nav-wrapper container">
     <a href="{{site.url}}/index.html" class="brand-logo left">{{ site.title }}</a>
     <ul class="right side-nav">
      <li><a href="{{site.baseurl}}/index.html">HOME</a></li>
     {% for page in site.pages %}
        {% if page.title == 'Home'%}      
        {% else %}
        <li><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
        {% endif %}
     {% endfor %}
     </ul>
    </div>
</nav>
<section class="{% if page.title =='about' %}sobre{% else %}home{% endif %}">
   <article class="section no-pad-bot container no-pad-bot">
     <h3 class="header">Olá Seja Bem-Vindo ao Meu Blog</h3>
     <p class="flow-text">Esta Pàgina tem o intuito de ajudar outros desenvolvedores</p>
   </article>
</section>
